@import "tailwindcss";
@font-face {
  font-family: "popins";
  src: url("../public/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.popins-font {
  font-family: "popins", sans-serif;
}
